nav {
  background: black;
  height: 155px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 40px 0px 70px;
  position: sticky;
  top: 0px;
  z-index: 10;
}

nav div.header-logo {
  padding: 0px 20px;
}

nav div.nav-bar {
  display: flex;
  right: 40px;
  width: 580px;
  left: calc(50% - 580px/2);
  height: 48px;
  top: calc(50% - 48px/2 - 1px);
}

nav div.nav-bar span {
  margin: 0 44.7px;
  line-height: 45px;
}

nav div.nav-bar span a {
  color: grey;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  padding: 10px;
  text-align: center;
  letter-spacing: 0.2px;
  text-decoration: none;
}

nav div.nav-bar span a.active,
nav div.nav-bar span a:hover {
  color: white;
}

nav .menu-btn i {
  color: #737373;
  opacity: 0.6;
  border-radius: 20px;
  width: 20px;
  height: 16px;
  cursor: pointer;
  display: none;
}

nav #click {
  display: none;
}

@media (max-width: 1048px) {
  /* Nav Bar */
  nav {
    padding-left: 40px;
    justify-content: space-between;
  }
  nav div.nav-bar {
    width: 485px;
  }
  nav div.nav-bar span {
    margin: 10px 40px;
    line-height: 30px;
  }
  nav div.nav-bar span a {
    display: block;
    font-size: 16px;
    padding: 0px;
  }
  nav div.header-logo {
    padding: 0px;
    max-width: 200px;
    max-height: 96px;
  }
}

@media (max-width: 780px) {
  nav {
    height: 112px;
    max-height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 16px 0 16px 0;
  }
  nav div.header-logo img {
    padding: 0px;
    max-width: 104px;
    max-height: 51.37px;
    margin-left: 25px;
  }
  nav div.nav-bar {
    display: block;
    position: relative;
    width: 100%;
    left: 0;
    height: 0px;
    text-align: center;
    overflow: hidden;
  }
  nav div.nav-bar span {
    margin: 10px 10px;
    width: 100%;
  }
  nav .menu-btn i {
    display: flex;
    margin: 32px 23px;
  }
  #click:checked ~ div.nav-bar {
    overflow: visible;
    height: max-content;
    background: inherit;
  }
}
