footer{
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    bottom: 0px;
    max-height: auto;
    padding: 36px 80px;

    span{
        color: white;
        i{
            padding: 10px;
            margin: 20px;
            font-size: large;
            cursor: pointer;
        }
    }
}

@media (max-width: 700px){
    footer{
        flex-direction: column;

        span i{
            margin: 10px;
            padding: 5px;
        }
    }
}