// CSS-SCSS Reset

html, body{
    margin: 0 auto;
    padding: 0;
    max-width: 1440px;
}

body{
    .whole-wrapper{
        margin: 0 auto;
        overflow-x: hidden;
        font-family: cursive;
    }
}